<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Registrar encuesta
  </title>
  <!-- Favicon -->
  <link th:href="@{/assets/img/brand/favicon.png}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link th:href="@{/assets/js/plugins/nucleo/css/nucleo.css}" rel="stylesheet" />
  <link th:href="@{/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet" />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/argon-dashboard.css?v=1.1.0}" rel="stylesheet" />
  
  <!-- Owner css -->
  <link th:href="@{/css/global.css}" rel="stylesheet" />
  
</head>

<body class="">
  <!-- inicio sidebar -->
  <nav th:replace="fragments/sidebar :: sidebar"></nav>
  <!-- fin sidebar -->
  <div class="main-content">
    <!-- Navbar -->
    <nav th:replace="fragments/top-navbar :: top-navbar"></nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-5 pt-5 pt-md-8">
      <div class="container-fluid">
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
                  <h4 class="mb-0">FORMULARIO REGISTRAR NUEVA ENCUESTA</h4>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="card-body">
              <form th:action="@{/encuesta/registrar}" th:object="${encuesta}" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <label>Denominacion Encuesta:</label>
                    <select class="form-control" th:field="*{denominacion}">
                      <option value="undefined">---Seleccionar tipo encuesta---</option>
                      <option value="DSM-V">DSM-V</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label>Institución educativa:</label>
                    <select class="form-control" th:field="*{institucionEducativa}">
                      <option value="undefined">---Seleccionar la institución educativa---</option>
                      <option th:each="institucionEducativa : ${institucionEducativas}"
                        th:value="${institucionEducativa.codInstitucioneducativa}"
                        th:text="${institucionEducativa.denominacion}">
                      </option>
                    </select>
                  </div>

                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
               
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input type="submit" value="Registrar" class="btn btn-secondary" />
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                  <h4 class="mb-0">INDICACIONES</h4>
                </div>
              </div>
            </div>
            <div class="card-body">
            <div class="text-justify">
                <p>Asegúrese de seleccionar el tipo de encuesta y la institución educativa correcta.</p>
                <hr class="my-2" />
                <p>Las cartillas en la parte inferior, son las encuestas que se encuentran en proceso con un breve resumen en los detalles, las finalizadas las puedes ver <a href="#">AQUÍ</a>.</p>
                <p> Haga click en <span class="badge badge-info">Encuestar</span> para registrar un nuevo cuestionario.</p>
                <p> Haga click en <span class="badge badge-success">Finalizar</span> para dar por culminado la encuesta.</p>
                <p> Haga click en <span class="badge badge-danger">Dar de baja</span> si no quiere continuar con esa encuesta.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <hr class="mt-2">
      <h5 class="heading-small text-muted">En proceso:</h5>
      <div class="row mt-2" th:if="${not #lists.isEmpty(encuestasEnproceso)}">

        <th:block th:each="encuestaEnproceso : ${encuestasEnproceso}">
          <div class="col-xl-4 mt-2">
            <div class="card shadow border-warning">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="text-uppercase text-muted ls-1 mb-1"
                      th:text="${'Encuesta '+encuestaEnproceso.denominacion}"></h4>
                    <h4 class="mb-0">Detalles</h4>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
              <table class="table">
                      <tbody>

                        <tr>
                          <td>Institucion Educativa</td>
                          <td th:text="${encuestaEnproceso.institucionEducativa.denominacion}"></td>
                        </tr>
                        <tr>
                          <td>Fecha de creación: </td>
                          <td th:text="${#dates.format(encuestaEnproceso.fechaCreacion, 'dd-MM-yyyy')}"></td>
                        </tr>
                        <tr>
                          <td>N° de encuestados</td>
                          <td th:text="${#lists.size(encuestaEnproceso.detalleEncuestas)}"></td>
                        </tr>
                        
                      </tbody>
                    </table>

                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a th:href="${'/encuesta/registrar-cuestionario/'+encuestaEnproceso.codEncuesta}" role="button" class="btn btn-sm btn-info">Encuestar</a>
                      <button type="button" class="btn btn-sm btn-success" th:onclick="|operacionEncuesta(${encuestaEnproceso.codEncuesta},'FINALIZADO')|">Finalizar</button>
                      <button type="button" class="btn btn-sm btn-danger" th:onclick="|operacionEncuesta(${encuestaEnproceso.codEncuesta},'BAJA')|">Dar de baja</button>
                    </div>

              </div>
            </div>
          </div>
        </th:block>
      </div>
      
      <br>
      <h5 class="heading-small text-muted">Finalizadas:</h5>
      <div class="row mt-2" th:if="${not #lists.isEmpty(encuestasFinalizadas)}">

        <th:block th:each="encuestaFinalizada : ${encuestasFinalizadas}">
          <div class="col-xl-4 mt-2">
            <div class="card shadow border-success">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="text-uppercase text-muted ls-1 mb-1"
                      th:text="${'Encuesta '+encuestaFinalizada.denominacion}"></h4>
                    <h4 class="mb-0">Detalles</h4>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
              <table class="table">
                      <tbody>

                        <tr>
                          <td>Institucion Educativa</td>
                          <td th:text="${encuestaFinalizada.institucionEducativa.denominacion}"></td>
                        </tr>
                        <tr>
                          <td>Fecha de creación: </td>
                          <td th:text="${#dates.format(encuestaFinalizada.fechaCreacion, 'dd-MM-yyyy')}"></td>
                        </tr>
                        <tr>
                          <td>Fecha de finalización: </td>
                          <td th:text="${#dates.format(encuestaFinalizada.fechaFinalizacion, 'dd-MM-yyyy')}"></td>
                        </tr>
                        <tr>
                          <td>N° de encuestados</td>
                          <td th:text="${#lists.size(encuestaFinalizada.detalleEncuestas)}"></td>
                        </tr>
                        
                      </tbody>
                    </table>

                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a th:href="${'/reporte/ver/'+encuestaFinalizada.codEncuesta}" role="button" class="btn btn-sm btn-info">Ver reporte</a>
                    </div>

              </div>
            </div>
          </div>
        </th:block>
      </div>
      <!-- Footer -->
      <footer th:replace="fragments/footer :: footer"></footer>
      <!-- end footer -->
    </div>
  </div>
  <!--   Core   -->
  <script th:src="@{/assets/js/plugins/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <!--   Argon JS   -->
  <script th:src="@{/assets/js/argon-dashboard.min.js?v=1.1.0}"></script>

  <!-- owner js-->
  <script th:src="@{/js/encuesta/registrar-encuesta.js}"></script>
  

</body>

</html>