<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Registrar cuestionario
  </title>
  <!-- Favicon -->
  <link th:href="@{/assets/img/brand/favicon.png}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link th:href="@{/assets/js/plugins/nucleo/css/nucleo.css}" rel="stylesheet" />
  <link th:href="@{/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet" />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/argon-dashboard.css?v=1.1.0}" rel="stylesheet" />
</head>

<body class="">
  <!-- inicio sidebar -->
  <nav th:replace="fragments/sidebar :: sidebar"></nav>
  <!-- fin sidebar -->
  <div class="main-content">
    <!-- Navbar -->
    <nav th:replace="fragments/top-navbar :: top-navbar"></nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-5 pt-5 pt-md-8">
      <div class="container-fluid">
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Registrar cuestionario</h6>
                  <h2 class="mb-0">FORMULARIO</h2>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="card-body">

              <form th:action="@{/encuesta/registrar-cuestionario}" th:object="${detalleEncuesta}" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <label>Estudiante:</label>
                    <select class="form-control" th:field="*{estudiante}">
                      <option value="undefined">---Seleccionar Estudiante---</option>
                      <option th:each="estudiante : ${estudiantes}"
                        th:value="${estudiante.codPersona}"
                        th:text="${estudiante.primerNombre+ ' '+ estudiante.segundoNombre+ ' '+ estudiante.apellidoPaterno+ ' '+ estudiante.apellidoMaterno}">
                      </option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label>Profesor:</label>
                    <select class="form-control" th:field="*{profesor}">
                      <option value="undefined">---Seleccionar Profesor---</option>
                      <option th:each="profesor : ${profesores}"
                        th:value="${profesor.codPersona}"
                        th:text="${profesor.primerNombre+ ' '+ profesor.segundoNombre+ ' '+ profesor.apellidoPaterno+ ' '+ profesor.apellidoMaterno}">
                      </option>
                    </select>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Nivel de educación:</label>
                    <select class="form-control" th:field="*{nivelEducacion}">
                      <option value="undefined">---Seleccionar nivel de educación---</option>
                      <option value="PRIMARIA">PRIMARIA</option>
                      <option value="SECUNDARIA">SECUNDARIA</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label>Grado de estudio:</label>
                    <select class="form-control" th:field="*{gradoEstudio}">
                      <option value="undefined">---Seleccionar el grado de estudio---</option>
                      <option value="1°">PRIMERO</option>
                      <option value="2°">SEGUNDO</option>
                      <option value="3°">TERCERO</option>
                      <option value="4°">CUARTO</option>
                      <option value="5°">QUINTO</option>
                      <option value="6°">SEXTO</option>
                    </select>
                  </div>

                </div>
                
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input type="submit" value="Registrar" class="btn btn-secondary" />
                  </div>
                </div>
              </form>
              <br>

              <h4>POR FAVOR ELEGIR UNA RESPUESTA PARA CADA ITEM</h4>

              <th:block th:each="item : ${items}">
                <section class="row">
                  <div class="col-md-8" style="text-align:justify">
                    <p th:text="${item.numeroItem + '. ' +item.descripcionItem}"></p>
                  </div>
                  <div class="col-md-2 custom-control custom-radio">

                    <input th:name="${'item'+item.numeroItem}" class="custom-control-input" th:id="${'radio1_'+item.numeroItem}" type="radio" value="SI">
                    <label class="custom-control-label" th:for="${'radio1_'+item.numeroItem}">SI</label>
                  </div>
                  <div class="col-md-2 custom-control custom-radio">
                    <input th:name="${'item'+item.numeroItem}" class="custom-control-input" th:id="${'radio2_'+item.numeroItem}" type="radio" value="NO">
                    <label class="custom-control-label" th:for="${'radio2_'+item.numeroItem}">NO</label>
                  </div>
                </section>
                <hr>
              </th:block>

              <br>
              <div class="form-group row">
                <div class="col-sm-6">
                  <button class="btn btn-primary" role="button" onclick="result()">Registrar</button>
                  
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">INFO</h6>
                  <h2 class="mb-0">Recomendaciones</h2>
                </div>
              </div>
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer th:replace="fragments/footer :: footer"></footer>
      <!-- end footer -->
    </div>
  </div>
  <!--   Core   -->
  <script th:src="@{/assets/js/plugins/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <!--   Argon JS   -->
  <script th:src="@{/assets/js/argon-dashboard.min.js?v=1.1.0}"></script>
  <!-- owner js-->
  <script th:src="@{/js/encuesta/registrar-encuesta.js}"></script>
</body>

</html>